.container {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    text-align: left;
    padding-left: 15px;

}

body {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}